html {
    color: #111;
    font-family: 'EB Garamond', serif;
    h1, h2, h3, h4 {
        font-weight: normal;
    }
    body {
        display: grid;
        grid-auto-rows: 40px auto 50px;
        height: 98vh;
    }

    >header, >footer, >.main {
        display: grid;
        border: solid red 1px;
    }
    textarea {
        width: 300px;
        height: 300px;
    }
    footer {
        color: lightgrey;
        font-size: 10pt;
        a {
            text-decoration: none;
            color: #bbf;
        }
    }
    
    a {
        text-decoration: none;
        color: #118;
    }

}
