{{ partial "header" . }}
{{ partial "nav" . }}
<script>
  document.addEventListener("DOMContentLoaded", function(){
    bma.Init();
  });
</script>
<section class="main">
  <div id=control></div>
  <div id=before></div>
  <div id=after></div>
</section>
{{ partial "footer" . }}
