<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" {{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ if eq .IsHome false }}
<title>{{ .Title }} | {{ .Site.Title }}</title>
{{ else }}
<title>{{ .Site.Params.Info.homeTitle }}</title>
{{ end }}
{{ if .Site.Params.Info.enableSocial }}
{{- partial "social/opengraph" . -}}
{{ end }}
{{ if .Site.Params.rss }}
<link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
{{ end }}
{{- range .Site.Params.Assets.customSCSS -}}
{{ $style := resources.Get . | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink | relURL }}">
{{- end -}}
{{ partial "favicons" . }}
<link rel="canonical" href="{{ .Permalink }}">
<meta name="theme-color" content="#ffffff">
<script type="text/javascript" src="/bible-memory-aid/js/bible-memory-aid.js"></script>
<script>
    var ScriptureApiToken = "7c2ecc6d5c69a9026262eb8abeff7b54";
</script>
</head>
<body>
